h1{
    background-color: Blue;
    width: 100%;
    height: 90px;
    text-align: center;
    
    padding-top: 0px;
    border-spacing: none;
    vertical-align: middle;
    
}

#grad {
  background: grey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, grey , white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, grey, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, grey, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, grey , white); /* Standard syntax */
}

.bio-container{
    
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: Bold;
	line-height: 50.4px;
	//text-decoration: underline;
}

.bio{
    padding-left: 20px;
}

.biodesc{
    padding-left: 20px;
    text-decoration: none;
    font-weight: normal;
}

#spacer{
    height: 50px;
}